body {
    display: flex;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('bg.jpg');
    margin: 0;
    flex-direction: column;
    position: relative;

}

.google {
    width: 500px;
    margin: 100px auto 50px auto;
}

.google__img {
    width: 100%;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

form {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 100%;
    max-width: 750px;
    justify-content: space-around;
    margin: 0 auto auto auto;
}

.poshuk {
    background: linear-gradient(#38babd, #ffcf00);
    border: 0;
    outline: none;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}

div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

button, input {
    height: 40px;

}

button:first-child {
    border-radius: 20px 0 0 20px;
}

button:last-child {
    border-radius: 0 20px 20px 0;
}

button {
    border: 0;
    width: 33%;
    display: flex;
    transition: .2s;
    background: #38babd;
}

button span {
    transition: .2s;
    margin: auto;
}

button p {
    font-family: 'Comfortaa', cursive;
    margin: auto;
}

button:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px rgba(41, 141, 143, .2);
    background: #298d8f;
}

button:hover span, button:hover p {
    color: azure;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    display: flex;
}

footer p {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    color: #000000;
    margin: auto;
}

.anim {
    animation: anim 1s linear infinite;
}

.advance {
    position: absolute;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    right: 50px;
    transition: .2s;
    height: 30px;
    top: 50px;
}

.advance:hover {
    color: azure;
    cursor: pointer;
}

.advance:after {
    transition: .2s;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    content: '';
    width: 0;
    background: azure;
}

.advance:hover:after {
    width: 100%;
}

@keyframes anim {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }

}

.modal {
    width: 100vw;
    height: 100vh;
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, .5);
}

.modal .container {
    width: 750px;
    height: 500px;
    margin: auto;
    background: azure;
    border-radius: 20px;
    padding: 70px 20px 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal .container div {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.modal .container div p {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}

.modal .container div input {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    background: linear-gradient(#38babd, #ffcf00);
    border: 0;
    width: 55%;
    outline: none;
    border-radius: 20px;
    padding-left: 20px;
    margin: auto 0;

}

.close {
    width: 40px !important;
    height: 40px;
    margin: 0 !important;
    position: absolute;
    transition: .2s;
    display: flex;
    top:20px;
    right: 20px;
    border-radius: 50%;
}
.close span{
    margin: auto;
}

.close:hover {
    background: rgba(0, 0, 0, .2);
    cursor: pointer;
}

.modal .container button {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}